.body{
    margin: 0;
    margin: 0;
    font-size: 16px;
}
.search-expand{
    width: 20em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 10px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search-expand:focus{
    width: 40%;
}
.body-content{
    display: flex;
    padding: 0 1em ;
    justify-content: space-between;
    flex-wrap: wrap;
}

.board-left{
    display: flex;
    align-items: center;
}

.btn-control{
    width: 8rem;
}
.project-name{
    padding: 0 1px;
    margin: 0 1em;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.vertical-line{
   font-size: 25px;
   color: #666;
}
.list-member{
    display: flex;
    margin: 0 0.6rem;
}
.circleUser {
    padding-top: 0.2em;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 10px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    font-weight: 400;
}
.board-left{
    display: flex;
    flex-wrap: wrap;
}
.circleUser-large{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 1.2em;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    font-weight: 350;
}
.line-hidden{
    font-size: 10px;
    visibility: hidden;
    transform: translateY(-1rem);
}
.progress-board{
    display: flex;
    flex-direction: column;
}
.dashboard-project {
    display: none;
}
.is-active.more-info{
    display: block;
}
.is-active.dashboard-project{
    display: block;
}
.more-info{
    position: absolute;
    padding: 5px;
    display: none;
}
.form-list-project{
    display: none;
    position: absolute; 
    width: 22em;
    padding: 0.5em 1em 1em 1em; 
    top: 6em; 
    background-color: white; 
    border-radius: 0.2em; 
    border: 1px gainsboro solid; 
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.form-add-user{
    margin-top: 0.2em;
    display: none;
    width: 15em; 
    position: absolute; 
    background-color: white; 
    padding: 1em;  
    border-radius: 0.5em; 
    border: 1px solid gainsboro;
    max-height: calc(130vh - 200px);
}
.form-add-user.is-active{
    display: block;
}